@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
    url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Italic'), local('PTSerif-Italic'),
    url('https://webfont.ru/st/ptserif/400i-cyrillic.woff2') format('woff2'),
    url('https://webfont.ru/st/ptserif/400i-cyrillic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
}
